@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap');

*{
    margin: 0; border: 0;
}
body {
    background-attachment: fixed;
    background-image: linear-gradient(to top,  #FFFFFF , #BBB6A3 55%, #FFFFFF);;
    
}
main{
    margin: 10px 0px 20px 0px;
}
.logo{
    border-radius: 40px;
    opacity: 70%;
    width: 70%;
}
.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 30px;
    width: 90%;
    height: 100%;    
    text-align: center;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #132d47;
    background-color: rgba(255, 255, 255, 0.432);
}
.txt {
    width: 95%;
    text-align: center;
    margin: auto;
    padding: 0px;
    font-weight: 700;
}
.fundo{
    
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    z-index: -1000;
}

.tudo{
    z-index: 1000;
}

header{
    padding-top: 20px;
    margin: 20px;
    text-align: center;
}

.dev{
    margin-top: 30px;
    padding: 20px;
    text-align: center;
    font-style: normal;
    margin-bottom: 20px;
    bottom:0;
    width:100%;
}


strong{
    font-size: 0.8em;
    font-weight: 300;
    
}
.redes{
    margin-top: 20px;
}
.redes a {
    margin-left: 10px;
    
}
.redes img{
    width: 30px;
    opacity: 80%;
}
form{
    text-align: center;
}
button { 
    margin-left: 10px;
    border-radius: 30px;
    padding: 10px 20px;
    background-color: #2e3c4bad;
    border: transparent;
}
.final{
    margin-top: 30px;
}
.container2{
    display: flex;
    justify-content: center;
}
a{
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    font-weight: 800;
    font-size: 1.0em;
}
.dev > a {
    text-decoration: underline;
    font-weight: 600;
    color: black !important;
}
.dev {
    font-size: 0.9em;
}
p{
    
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 800;
    color: rgba(0, 0, 0, 0.699);
    
}
.botao{
    margin-left: 10px;
    border-radius: 30px;
    padding: 10px 10px;
    background-color: #2e3c4bad;
    border: transparent;;
    width: 26%;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 800;
    color: rgba(0, 0, 0, 0.699);
    font-size: 0.8em;
    
    
}
