@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Mali:wght@500&display=swap');


*{
    margin: 0;
    padding: 0;
}

.container {
    background-image: url("/img/fundo2.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    z-index: -1000;
}
.container {
    margin: 20px;
    opacity: 150% !important; 
}

header{
    margin: auto;
    text-align: center;
}
.logo{
    margin: 70px 10px 30px 10px;
    width: 60%;
}

.redes{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    text-align: center;
}
.container2{
    display: flex;

}
.button{
    border-radius: 10px;
    width: 50%;
    padding: 5px;
    background-color: #a3ac73a3;
    margin: 10px;
    box-shadow: 1px 1px 5px 1px rgba(66, 66, 66, 0.473);
    
}
.container {
    margin: 10px;
}

.ico {
    width: 40px;
    margin-top: 10px;
}
p {
    color: white;
    font-family: 'Mali', cursive;
    
}
a{
    text-decoration: none;
}
.insta {
    width: 60px;
    margin-top: 1px;
}
.uber {
    border-radius: 50%;
    width: 50px;
    margin-top: 4px;
    margin-bottom: 10px;
}

.dev{
    margin-top: 70px;
    text-align: center;
    font-style: normal;
    bottom:0;
    width:100%;
    color: white;
    font-size: 0.8em;
}